html {
    height: 100%;   
}

body {
    text-align: center;
    background: #4ea88a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

#myheader {
    text-transform: uppercase;
    color: white;
    position: relative;
    top: 4em;
    font-size: 3em;
  }

/*footer {
    color: whitesmoke;
    position: static;
    bottom: 3em;
    width: 100%;
    font-size: 2em;
    margin-top: 20em;
  }*/

#sumTotal {
    width: 70%;
    padding: 0.8em 2em;
    top: 8em;
    text-transform: uppercase;
    align-content: center;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2em;
    position: relative;
    border: 0.2em solid black;
    border-radius: 0.5em;
}
#sumTotal::placeholder {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: bold;
    color: grey;
}

#taxPercentage {
    width: 70%;
    padding: 0.8em 2em;
    top: 9em;
    text-transform: uppercase;
    align-content: center;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2em;
    position: relative;
    border: 0.2em solid black;
    border-radius: 0.5em;
}
#taxPercentage::placeholder{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: bold;
    color: grey;
}

#radioInput {
    top: 22em;
    position: relative;
}

#submitButton {
    width: 50%;
    padding: 0.8em 2em;
    top: 12em;
    align-content: center;
    text-transform: uppercase;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 2em;
    position: relative;
    border: 2em;
    border-radius: 0.5em;
}
#submitButton:hover{
    background-color: #94818a;
}

#calcTax {
    width: 25%;
    padding: 0.8em 1em;
    top: 14em;
    align-content: left;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    border: 2em;
    border-radius: 0.5em;
    text-emphasis-color: black;
    background-color: white;
}
#calcTax::placeholder{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: bold;
    color: grey;
}

#calcResult {
    width: 25%;
    padding: 0.8em 1em;
    top: 15em;
    align-content: left;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    border: 2em;
    border-radius: 0.5em;
    text-emphasis-color: black;
    background-color: white;
}
#calcResult::placeholder{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: bold;
    color: grey;
}

.taxRadio {
    display: inline;
    position: relative;
    padding-left: 1.2em;
    margin-right: 1.5em;
    cursor: pointer;
    font-size: 2em;
}

/* Hide the browser's default radio button */
.taxRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    margin: 0 4px;
}

/* On mouse-over, add a grey background color */
.taxRadio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.taxRadio input:checked ~ .checkmark {
    background-color: rgb(189, 119, 134);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.taxRadio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.taxRadio .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}